-i https://pypi.org/simple
cffi==1.13.1
click==7.0
cryptography==2.8
dnspython==1.16.0
flask==1.1.1
future==0.18.1
impacket==0.9.20
itsdangerous==1.1.0
jinja2==2.10.3
ldap3==2.5.1
ldapdomaindump==0.9.1
markupsafe==1.1.1
pyasn1==0.4.7
pycparser==2.19
pycryptodomex==3.9.0
pyopenssl==19.0.0
six==1.12.0
werkzeug==0.16.0
